@import "tailwindcss";

@theme {
  --color-primary: #635BFF;
  --color-primary-light: #E0E7FF;
  --color-success: #10B981;
  --color-background: #F8F9FF;
  --color-gray-text: #6B7280;
  --color-dark-text: #1F2937;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-dark-text font-sans antialiased;
  }
}
